%h2 Каналы
- if @session["gmod"] == "1"
  .btn.btn-success#create-channel-btn{onclick: "showChannelForm();"} Создать Канал
  =render 'channels/new'
  %br
  :javascript
    function showChannelForm() {
      $("#create-channel").show();
      $("#create-channel-btn").hide();
    };
%br
%table.table
  %tbody
    %tr
    %td
    %td
      %b Канал
    %td
      %b Стример
    %td
      %b Сервис
    %td
      %b Игра
    %td
      %b Статус
    - if @session["gmod"] == "1"
      %td
        %b Действо
    - @channels.each_with_index do |channel, i|
      %tr
        %td= i+1
        %td= channel.channel
        %td= channel.streamer
        %td= channel.service
        %td= channel.game
        %td
          - if channel.live?
            = tag_label('Стрим', :success)
          - else
            = tag_label('Офлайн', :danger)
        - if @session["gmod"] == "1"
          %td
            = link_to "Удалить", home_channel_delete_path(id: channel.id), method: "post"
