!!!
%html
  %head
    %title Test
    = javascript_include_tag 'jquery'
    = stylesheet_link_tag    'http://vjs.zencdn.net/5.0/video-js.css'
    = javascript_include_tag 'http://vjs.zencdn.net/5.0/video.js'
    = javascript_include_tag '/player/background.js'
    = favicon_link_tag 'favicon.ico'
  %body
    %video#content.video-js.vjs-default-skin{:controls => "", "data-setup" => '{"techOrder": ["flash", "html5"], "nativeControlsForTouch": true, "controlBar": {"progressControl": false } }', :poster => "/assets/bg/omck.jpg", :preload => "auto", :autoplay => true}
      %source{:src => "rtmp://#{@host}/#{@channel}/omcktv", :type => "rtmp/mp4"}
      %source{:src => "http://#{@host}/hls/#{@channel}/omcktv.m3u8", :type => "video/mp4"}
      %p.vjs-no-js
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video
:coffee
  videojs("content").ready ->
    videojs('content').width $(window).width() - 20
    videojs('content').height $(window).height() - 20
    return

  $(window).resize ->
    videojs('content').width $(window).width() - 20
    videojs('content').height $(window).height() - 20
    return
