!!!
%html
  %head
    %title OmckTV LiveStream Channel
    = javascript_include_tag 'jquery'
    = stylesheet_link_tag    '/player/video-js.css'
    = javascript_include_tag '/player/video.js'
    = javascript_include_tag '/player/background.js'
    = favicon_link_tag 'favicon.ico'
  %body
    %video#content.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :poster => "/assets/bg/omck.jpg", :preload => "auto", :autoplay => true,}
      %source{:src => "rtmp://#{@host}/#{@channel}/omcktv", :type => "rtmp/mp4"}
:coffee
  $(document).ready ->
    videojs('content').width $(window).width() - 20
    videojs('content').height $(window).height()- 20
    return

  $(window).resize ->
    videojs('content').width $(window).width() - 20
    videojs('content').height $(window).height() - 20
    return
