#keys-streamers.tab-pane
  %h2 Ключики действующие (стримеров)
  - if current_user.gmod == 1
    .btn.btn-success#create-streamer-btn{onclick: "showStreamerForm();"} Создать Ключ Для Стримера
    = bootstrap_form_for @new_streamer, html: {id: "create-streamer", style: "display: none;"}, :url => url_for(:action => 'manage_perm', :controller => 'users'), :method => 'post' do |f|
      = f.text_field :screen_name, required: true,  label: "Никнейм стримера (вписывать без @)"
      %br/
      = f.submit "Дать права", class: "btn btn-success"
    %br
    :javascript
      function showStreamerForm() {
        $("#create-streamer").show();
        $("#create-streamer-btn").hide();
      };
    %br
  %table.table
    %tbody
      %tr
      %td
      %td
        %b Имя
      %td
        %b Игра
      %td
        %b Фильм
      %td
        %b Действителен до
      %td
        %b Создан
      - @keys_streamers.each_with_index do |key, i|
        %tr
          %td= i+1
          %td= key.streamer
          %td= key.game
          %td= key.movie
          %td= key.expires
          %td= key.created_at
          - if current_user.gmod == 1
            %td
              = link_to "Испарить ключ", home_expire_key_path(id: key.id), method: "post"