#keys-guest.tab-pane
  %h2 Ключики действующие (гостевые)
  - if current_user.gmod == 1
    .btn.btn-success#create-key-btn{onclick: "showKeyForm();"} Создать Ключ Для Гостя
    = bootstrap_form_for @key, html: {id: "create-key", style: "display: none;"}, :url => url_for(:action => 'make_key', :controller => 'keys'), :method => 'post' do |f|
      = f.hidden_field :guest, required: true
      = f.text_field :game, required: true,  label: "Игра"
      = f.text_field :movie, required: false,  label: "Кинцо"
      = f.text_field :streamer, required: true,  label: "Имя стримера"
      %br/
      = f.submit "Создать ключ", class: "btn btn-success"
    %br
    :javascript
      function showKeyForm() {
        $("#create-key").show();
        $("#create-key-btn").hide();
      };
    %br
  %table.table
    %tbody
      %tr
      %td
      %td
        %b Имя
      %td
        %b Игра
      %td
        %b Фильм
      %td
        %b Действителен до
      %td
        %b Создан
      - if current_user.gmod == 1
        %td
          %b Действо
      - @keys_guests.each_with_index do |key, i|
        %tr
          %td= i+1
          %td= key.streamer
          %td= key.game
          %td= key.movie
          %td= key.expires
          %td= key.created_at
          - if current_user.gmod == 1
            %td
              = link_to "Удалить", home_expire_key_path(id: key.id), method: "post"