#vids.tab-pane
  %h2 Видосики
  =bootstrap_form_tag :url => url_for(:action => 'delete', :controller => 'videos'), :method => 'delete' do |f|
    %table.table
      %tbody
        %tr
        %td
        %td
          %b Игра
        %td
          %b Описание
        %td
          %b Скачать
        %td
          %b Дата создания
        - @vids.each_with_index do |vid|
          %tr
            %td= check_box_tag "tag_ids[]", vid.id
            %td= vid.game
            %td= vid.description
            %td= link_to "Скачать", "/videos/#{Pathname.new(vid.path).basename.to_s}", method: "get", target: "_blank"
            %td= vid.created_at.utc.strftime("%c")
    =f.submit "Удалить", class: "btn btn-danger"
