.container
  .row
    .panel.panel-default#header
      .panel-body
        .page-header
          %h1
            А мы тут стримами балуемся,
            = current_user.name
        .page-body
          %iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/173094997&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false", :width => "100%"}
    .row.notifications.center-block#flash
      = bootstrap_flash

    = render 'tweet_panel'
    .col-md-9
      .panel.panel-default
        .panel-header
          %ul.nav.nav-pills{role: "tablist", id: "tabs"}
            %li{:role => "presentation", :class => "active"}
              %a{"data-toggle" => "tab", href: "#key", role: "tab"} Ваш Ключ
            %li{:role => "presentation"}
              %a{"data-toggle" => "tab", href: "#streams", role: "tab"} Каналы
            %li{:role => "presentation"}
              %a{"data-toggle" => "tab", href: "#keys-guest", role: "tab"} Гости
            %li{:role => "presentation"}
              %a{"data-toggle" => "tab", href: "#keys-streamers", role: "tab"} Стримеры
            %li{:role => "presentation"}
              %a{"data-toggle" => "tab", href: "#vids", role: "tab"} Видосики
            - if current_user.gmod == 1
              %li{:role => "presentation"}
                %a{"data-toggle" => "tab", href: "#gmod", role: "tab"} Админка
            %li{class: "pull-right"}
              =link_to "Выход", logout_path
        .panel-body.tab-content
          #key.tab-pane.active
            %h1 Информация по ключам к стримам
            - if !@user_key.key.nil?
              .col-md-6
                %h3 Сменить настройки стрима
                Ничего сложного тут нет, просто настраиваете как сохраняется Ваш повтор. Поддержка фильмов СКОРО!
                %br
                Повтор
                %b ИГРЫ
                будет сохранен в виде
                .text-success Имя_стримера_-_Текущая_Игра_Дата.mp4
                = bootstrap_form_for @user_key, :url => url_for(:action => 'change_key', :controller => 'keys'), :method => 'post' do |f|
                  = f.text_field :game, required: true,  label: "Игра"
                  = f.text_field :movie, required: false,  label: "Кинцо"
                  = f.text_field :streamer, required: true,  label: "Имя стримера"
                  %br/
                  = f.submit "Сменить данные стрима", class: "btn btn-success"
            .col-md-6
              - if !@user_key.key.nil?
                %p Отмечу, что различаются два канала только по ссылке live (игра) и cinema (кино). То есть поле ключа можно не менять. Лучше иметь 2 разных профиля для obs и xsplit
                %h3
                  .text-info Игровой канал
                %b Ссылочка-писечка
                .text-success
                  rtmp://hd.omck.tv/live
                %br
                %b Далее в поле ключ (key) вставляем ваш ключ:
                %br
                .text-success
                  omcktv?key=#{@user_key.key}
                %h3
                  .text-info Кинцо-анимцо
                %b Ссылочка-писечка
                .text-success
                  rtmp://hd.omck.tv/cinema
                %br
                %b Далее в поле ключ (key) вставляем ваш ключ:
                .text-success
                  omcktv?key=#{@user_key.key}
              - elsif current_user.gmod == 1 || current_user.streamer == 1
                %h3 Создать себе ключ
                %p У Вас есть права, значит вы можете стримить! Но ключа-то нет, так что создаем себе
                = bootstrap_form_for @user_key, :url => url_for(:action => 'make_key', :controller => 'keys'), :method => 'post' do |f|
                  = f.hidden_field :user_id, required: true
                  = f.text_field :game, required: true,  label: "Игра"
                  = f.text_field :movie, required: false,  label: "Кинцо"
                  = f.text_field :streamer, required: true,  label: "Имя стримера"
                  %br/
                  = f.submit "Создать ключ", class: "btn btn-success"
          #streams.tab-pane
            = render 'channels/index'
          = render 'keys_guests'
          = render 'keys_streamers'
          = render 'vids'
          - if current_user.id == 1 || current_user.id == 2
            = render 'gmod'
