%h2 Ключики действующие
%table.table
  %tbody
    %tr
    %td
    %td
      %b Имя
    %td
      %b Игра
    %td
      %b Фильм
    %td
      %b Действителен до
    %td
      %b ëÞ
    - @keys.each_with_index do |key, i|
      %tr
        %td= i+1
        %td= key.streamer
        %td= key.game
        %td= key.movie
        %td= key.expires
        %td= key.key
