%h3 Новый твит
Стрим на
= link_to "#omcktv", "https://twitter.com/hashtag/omcktv?src=hash"
|| Тут сообщение (99 символов)
%br
Иначе галочку на свое сообщение (140 символов)
%br
И я очень прошу - не вставляйте ссылки, твиттер может банально пидорнуть
= simple_form_for @tweet, html: {class: 'form-horizontal'}, :url => url_for(:action => 'tweet', :controller => 'home'), :method => 'post' do |f|
  = f.error_notification
  = f.input :tipe, as: :boolean, boolean_style: :inline, input_html: {id: "ttype", :checked => false}, checked_value: 2, unchecked_value: 1, label: "Свое сообщение?"
  = f.input :comment, as: :text, input_html: { maxlength: 140, :rows => 5, cols: 45, id: "tweettext" },  :include_blank => false, label: "Твит"
  %br/
  %p#count.text-success 99
  = f.button :submit, "Твитнуть!", class: "subm btn-success"
%hr
%h3 Последний твит
=@tweets.last.comment

%hr

:javascript
  $("#tweettext").keyup(function(){
    if ( $("#ttype").is(':checked') ) {
      count = 140
    } else {
      count = 99
    };
    length = count - $(this).val().length
    if (length <= 0 && $("#count").attr('class') == 'text-success') {
      $("#count").toggleClass('text-success text-danger');
      $(".subm").prop('disabled', true);
    } else if ( length >= 0 && $("#count").attr('class') == 'text-danger') {
      $("#count").toggleClass('text-danger text-success');
      $(".subm").prop('disabled', false);
    };
    $("#count").text(length);
  });
