- if @session["streamer"] == "1" && !@user_key.nil?
  - key = @user_key.key
  - date_exp = @user_key.expires
- else
  - key = "недоступно :с"
  - date_exp = "недоступно"
- if @session["streamer"] = "1" || @session["gmod"] == "1"
  - priv = true
- else
  - priv = false
.container
  .row.notifications.center-block#flash
    = bootstrap_flash
  .row
    .col-md-12
      .jumbotron
        %ul.nav.nav-tabs{role: "tablist"}
          %li.active
            %a{"data-toggle" => "tab", href: "#home", role: "tab"} Инфа
          %li
            %a{"data-toggle" => "tab", href: "#key", role: "tab"} Ваш Ключ
          %li
            %a{"data-toggle" => "tab", href: "#streams", role: "tab"} Стримы
          %li
            %a{"data-toggle" => "tab", href: "#keys", role: "tab"} Ключи
        .tab-content
          #home.tab-pane.active
            .row
              .col-md-6
                - if priv
                  = render 'tweet'
              .col-md-6
                - if priv
                  = render 'instruction'
          #key.tab-pane
            %h2 Ваши данные
            %table.table
              %tbody
                %tr
                %td
                  %b Имя
                %td
                  %b Ключ
                %td
                  %b Twitter
                %td
                  %b Действителен до
                %tr
                %td #{@session["name"]}
                %td= key
                %td #{@session["screen_name"]}
                %td= date_exp
            - if priv
              = link_to "Пересоздать ключ", home_remake_key_path(key: key)
            - if @session["streamer"] == "1"
              .row
                .col-md-6
                  = render 'change_key'
                .col-md-6
                  = render 'make_key'
          #streams.tab-pane
            = render 'channels/index'
          #keys.tab-pane
            = render 'keys'
