!!!
%html
  %head
    %title Omckonrails
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'assets/favicon.ico'
  %body
    /= render 'layouts/nav'
    = yield
    .container
      = render 'layouts/footer'
